<div class="card mb-3 ">
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png"
        class="img-fluid rounded-start imagenEstudiante" style="padding-top: 15px;" alt="imagen-Usuario">
      <div class="notasMaterias">
        <p class="card-text notaMateria">Matematicas: {{estudiante.notasMaterias.matematicas}}</p>
        <p class="card-text notaMateria">Ciencias: {{estudiante.notasMaterias.ciencias}}</p>
        <p class="card-text notaMateria">Ingles: {{estudiante.notasMaterias.ingles}}</p>
        <p class="card-text notaMateria">Fisica: {{estudiante.notasMaterias.fisica}}</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body cardEstudiante">
        <h5 class="card-title"> Nombre: {{estudiante.nombre}} {{estudiante.apellidos}}</h5>
        <h6 class="card-text"> Identificación: {{estudiante.identificacion}}</h6>
        <p class="card-text">edad: {{estudiante.edad}}</p>
        <p class="card-text">salon: {{estudiante.salon}}</p>
        <p class="card-text" [ngClass]="promedio >= 70 ? 'aprobado':'perdido'">Promedio:
          {{sacarPromedio(estudiante.notasMaterias.matematicas,estudiante.notasMaterias.ciencias, estudiante.notasMaterias.ingles,estudiante.notasMaterias.fisica)}}
        </p>

        <p class="card-text">Observaciones: <br> {{estudiante.observaciones}}</p>

        <a href="#" class="btn btn-primary m-1">Editar</a>
        <a href="#" class="btn btn-danger m-1">Eliminar</a>
      </div>
    </div>
  </div>
</div>
