<!-- style="max-width: 540px;" -->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png"
        class="img-fluid rounded-start imagenEstudiante" style="padding-top: 15px;" alt="imagen-Usuario">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> Nombre estudiante</h5>
        <h6 class="card-text"> Identificación: #########
        </h6>
        <p class="card-text">edad: 23</p>
        <p class="card-text">salon: 501</p>
        <p class="card-text">promedio: 8.5</p>
        <p class="card-text">notas</p>
        <p class="card-text">Observaciones: .....</p>

        <a href="#" class="btn btn-primary m-1">Editar</a>
        <a href="#" class="btn btn-danger m-1">Eliminar</a>
      </div>
    </div>
  </div>
</div>
