<div class="list-group ">

  <a routerLink="./listaEstudiantes"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Lista Info Estudiantes
  </a>
  <a routerLink="./registro"
    class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">
    Registrar Nuevo Usuario </a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">opcion
    #3</a>
  <a routerLink="/login" class="list-group-item list-group-item-action bg-danger text-light list-group-item-primary">
    Cerrar Sesión</a>
</div>
