<div class="list-group ">

  <a href="#" class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">opcion
    #1</a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">opcion
    #2</a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">opcion
    #3</a>
  <a href="#" class="list-group-item list-group-item-action bg-transparent text-light list-group-item-primary">opcion
    #4</a>
</div>
